<div class="container">
    <h4>PROFILE:</h4>
    <div class="d-flex justify-content-between align-items-center">
        <img src="{{current.avatar}}" alt="" class="avatar" style="width: 80px!important;">
        <h2>{{current.username}}!</h2>
        <p>Your email is: {{current.email}}</p>
    </div>
    
    <div class="mt-4 mb-4"><a href="/profile/{{current.id}}/edit" class="btn btn-outline-warning mb-3">Edit Profile</a></div>
    <div class="mt-4 mb-4"><a href="/new-project" class="btn btn-primary">New Project</a></div>

    <div class="container">
        {{#each project as |project|}}
        <div class="card w-20 m-3">
            <div class="m-3 card-body d-flex flex-column align-items-center">
                <p class="card-subtitle mb-2 text-muted">{{project.createdAt}}</p>

                <h3 class="card-text">
                    Title: {{project.title}}
                </h3>

                <p class="card-text">
                    {{project.description}}
                </p>

                <a href="{{project.link}}" class="btn btn-secondary mb-3">Link to the project</a>
                <a href="/projects/{{project.id}}/edit" class="btn btn-outline-warning mb-3">Edit</a>
                <form action="/delete/{{project.id}}" method="POST">
                    <button type="submit" class="btn btn-sm mb-2 btn-outline-danger">Delete</button>
                </form>

                <img class="rounded-sm w-20 mb-1" src="{{project.image}}" style="width: 450px!important;"/>

                <a class="text-muted d-block text-sm mb-2" href="/projects/{{project._id}}">
                    <i class="fa fa-comments"></i>
                    {{project.comments.length}} comments
                </a>

                <div>
                    <button class="btn btn-sm mb-2 btn-outline-danger" id="{{project.id}}" onclick="like(event)">
                        <i class="fa fa-heart"></i>
                        <span class="likes-count">{{project.likes.length}}</span> likes
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>